@font-face {
    src: url('./fontovi/Tangerine/Tangerine-Regular.ttf');
    font-family: 'Tangerine';
}

body {
    /* background-color: rgb(34, 102, 187); */
    background-color: rgb(3, 41, 88);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
h3:hover {
    transform: scale(1.2);
}
.zoom:hover {
    transform: scale(1.1);
}

/*navigacija*/
.nav-item a{

    font-size: 18px;
}
.nav-item a:hover{

    font-size: 22px;
}
p {
    font-size: 20px;
}
p:hover{
    color: rgb(236, 227, 228);
}

/*linkovi za DM*/
.dm a i, .dm a{
    color: rgb(34, 102, 187);
    border: 2px solid white;
}
.dm i:hover {
    transform: scale(1.2);
}

/*pocetna, home*/
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(3, 41, 88);
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 0.6;
}
.sidenav:hover {
    background-color: rgb(3, 69, 150);
    color: rgb(5, 71, 151);
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a:hover{
        font-size: 30px;
    }
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    display: block;
    margin-left:  5px;
}

/*kontakt strana*/
.form-control {
    width: 80%;
}
/*strana o meni*/
p:hover {
    color: pink;
}
/*strana projekti*/

#galerija {
  
    top:500px;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    list-style:none;
    width:955px;
    height:450px;
    border-radius:3px;
    overflow:hidden;
    box-shadow:1px 1px 3px 1px;
    padding: 0;
  }
  
  
  #galerija li {
    
    width:190px;
    height:450px;
    float:left;
    border-left:1px solid white;
    -webkit-transition:all 0.7s;
    -moz-transition:all 0.7s;
    transition:all 0.7s;
    box-shadow:-2px 0 10px 2px;
  }
  
  #galerija li:first-child {
    border:none;
  }
  
  #galerija span {
    
    bottom:0;
    width:50%;
    color:white;
    white-space:nowrap;
    padding:20px;
  }

  #galerija img {
    width:800px;
    height:450px;
  }
  
  #galerija:hover li {
    width:50px; 
    background-color: rgb(3, 69, 150); 
  }
  
  
  #galerija li:hover {
    width:750px;
  }

